
/*<---------------------------     Fonts     -------------------------------->*/
@font-face{
	font-family:OpenSans-Light;
	src:url('./Fonts/OpenSans.ttf');
}
@font-face{
	font-family:Arvo;
	src:url('./Fonts/Arvo-Regular.ttf');
}
@font-face{
	font-family:OpenSans;
	src:url('./Fonts/OpenSans-Bold.ttf');
}
@font-face{
	font-family:Fraunces;
	src:url('./Fonts/Fraunces.ttf');
}
@font-face{
	font-family:Fondamento;
	src:url('./Fonts/Fondamento-Regular.ttf');
}
@font-face{
	font-family:Lato;
	src:url('./Fonts/Lato-Bold.ttf');
}
@font-face{
	font-family:Monserrat;
	src:url('./Fonts/Montserrat-Regular.ttf');
}
@font-face{
	font-family:Monserrat2;
	src:url('./Fonts/Montserrat-SemiBold.ttf');
}
@font-face{
	font-family:Roboto;
	src:url('./Fonts/Roboto-Bold.ttf');
}
@font-face{
	font-family:Abril;
	src:url('./Fonts/AbrilFatface-Regular.ttf');
}
*{
	margin:0;
	padding:0;
}
body{
	font-family:Monserrat;
}

header{
	width:100%;
	height:70px;
	position:fixed;
	color:white;
	background-color:rgb(28,28,28);
	z-index:1;
}
nav{
	display:flex;
	padding:16px;
	justify-content:space-between;
}
.navleft{
	display:flex;
}
.navleft i{
	font-size:2em;
	color:rgb(151,244,60);
}
.logo{
	font-size:28px;
	font-weight:bold;
	font-family:Abril;
	margin-left:5px;
	color:white;
}
.navright{
	display:flex;
}
nav > .navright > div{
	font-size:0.9em;
	margin-right:20px;
	text-transform:uppercase;
}
.navlinkright{
	height:22px;
	transition:border-bottom 0.5s;
	border-bottom:1px solid transparent;
	margin-top:2.5%;
}
.navlinkright a{
	color:white;
	text-decoration:none;
}
/*
.navlinkright:hover{
	border-bottom:1px solid rgb(134,250,21);
}
*/
.navlinkright a:hover{
	color:rgb(134,250,21);
	transition-delay:0.1s;
}
.dropbtn {
	color:white;
	background:transparent;
	border:none;
	outline:none;
}
.dropbtn p{
	height:22px;
	transition:border-bottom 0.5s;
	border-bottom:1px solid transparent;
	font-family:Monserrat;
	font-size:1.1em;
	margin-top:11px;
}
.dropdown-content{
	display:none;
	position:absolute;
	background-color:#fff;
	min-width:150px;
	box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:1;
}
.dropdown-content a{
	color:black;
	padding: 11px 14px;
	border-bottom:1px solid #f1f1f1;
	text-decoration:none;
	display:block;
	font-size:.92em;
}
.dropbtn p:hover{
	color:rgb(134,250,21);
	transition-delay:0.1s;
}
.dropdown-content a:hover {
	background-color:rgb(151,244,60);
	color:black;
}
.dropdown:hover .dropdown-content {
	display:block;
}
.dropdown:hover .dropbtn{
	background-color:color:rgb(134,250,21);
	transition-delay:0.1s;
}


/*----------------------------- Under-Header------------------------------------------*/
.under-header{
	height:70px;
}

/*<---------------------------   Certificate Container   -------------------------------->*/
.certificate-container{
	width:100%;
	background-color:rgb(247,247,247);
	border-bottom:2px dotted black;
}
.certificate-bg{
	width:100%;
	height:190px;
	background-image:linear-gradient(rgba(28,28,28,0.5),rgba(28,28,28,0.3)),url("./Images/serv5.jpg");
	background-position:center;
	background-size:cover;
	border-bottom:2px dotted white;
	/*animation: overlay 2s ease;
	animation-delay:0.5s;*/
}
.inner-bg{
	width:80%;
	color:transparent;
	margin:auto;
	display:flex;
	justify-content:space-between;
	animation: text-reveal 3s ease forwards;
	animation-delay:1s;
}
@keyframes overlay{
	0%{
		height:0px;
	}
	100%{
		height:190px;
	}
}
@keyframes text-reveal{
	100%{
		color:white;
	}
}
.left-inner-bg{
	padding-top:50px;
}
.right-inner-bg{
	display:flex;
	padding-top:70px;
	padding-right:20px;
}
.right-inner-bg a,.right-inner-bg p{
	color:white;
	font-size:0.9em;
	text-decoration:none;
	padding-right:10px;
	overflow:none;
}
.right-inner-bg a:hover{
	color:rgb(134,250,21);
	transition-delay:0.1s;
}
/*<------------------------------------------------------------------------------------------->*/
.certificate-content{
	padding:40px 0px;
	text-align:center;
	margin-left:30px;
	margin-right:30px;
	margin-top:25px;
	margin-bottom:30px;
	background-color:#fff;
}
.h3{ 
	padding-top:3px;
	font-size:1.3em;
	font-family:Abril;
	text-align:center;
	text-transform:uppercase;
}
.inner-certificate{
	display:flex;
}
.inner-certificate p{
	text-align:left;
}
.left-certificate{
	width:630px;
	display:block;
}
.inner-right-cer1{
	width:180px;
	height:300px;
	margin-top:70px;
	background-color:rgb(247,247,247);
	border:1px solid rgb(225,225,225);
}
.inner-right-cer2{
	width:160px;
	height:210px;
	margin:20px auto ;
	background-color:rgb(247,247,247);
	border:1px solid rgb(225,225,225);
}
.certificate-image{
	width:500px;
	height:350px;
	margin:0px auto;
	background-image:url("./Images/certificate.png");
	background-position:center;
	background-size:cover;
}
.inner-right-cer2 a{
	color:black;
	padding: 12px 14px;
	border-bottom:1px solid rgb(225,225,225);
	text-decoration:none;
	display:block;
	font-size:.92em;
	
}
.inner-right-cer2 a:hover {
	background-color:rgb(151,244,60);
	transition:0.5s;
}




/*<---------------------------    Footer   -------------------------------->*/
footer{
	width:100%;
	height:470px;
	font-size:0.9em;
	color:white;
	background-color:rgb(28,28,28);
	font-family:Monserrat2;
}
footer i{
	color:rgb(151,244,60);
}
footer h3{
	letter-spacing:2px;
	color:rgb(151,244,60);
	font-family:OpenSans-Light;
}
.block1 i{
	top:30px;
	left:10px;
	font-size:2em;
	position:relative;
}
.flogo{
	color:white;
	font-size:28px;
	font-weight:bold;
	font-family:Abril;
	margin-left:50px;
}
.block1.0{
	display:flex;
}
.block2 i{
	margin-right:10px;
}
.mainblock1{
	display:flex;
	padding-top:40px;
	justify-content:space-around;
}
.mainblock1 div{
	width:35%;
}
.mainblock2{
	display:flex;
	position:relative;
	padding-top:25px;
	justify-content:space-around;
}
.mainblock2 div{
	width:37%;
}
.block3 a{
	color:white;
	text-decoration:none;
	padding:0px 8px 0px 0px;
}
.block3 a:hover{
	color:rgb(134,250,21);
	transition-delay:0.1s;
}
.block4 i{
	padding:5px 7px 5px 7px;
	color:rgb(28,28,28);
	background-color:rgb(151,244,60);
	border-radius:50px;
	border:2px solid white;
	margin-right:18px;
}
.block5 p{
	text-align:center;
	padding-top:50px;
	padding-right:40px;
	padding-bottom:-50px;
}